# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment variables
.env
